<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^([^/.]+)/?$ index.php?service=$1 [L]
RewriteRule ^([^/.]+)/([^/.]+)/?$ index.php?service=$1&data1=$2 [L]
RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)/?$ index.php?service=$1&data1=$2&data2=$3 [L]
</IfModule>